.LandingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  animation: 0s reveal-background forwards 8s;

  &__Background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: white;
    animation: 7.5s make-black forwards 3s;
  }

  &__Main {
    margin-top: -30px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__Title {
      font-size: 7rem;
      color: white;
      margin-bottom: 20px;
      text-align: center;
      padding: 0 10px;
    }

    &__Buttons {
      display: flex;
    }
  }

  &__LetsTalk {
    font-size: 3rem;
    color: white;
    background: none;
    border: 1px solid white;
  }

  &__BackgroundVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -5;
  }

  &__Header {
    position: absolute;
    top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
    width: 100%;

    &__LogoWrapper {
      &__Logo {
        width: 40px;
        height: auto;
        cursor: pointer;
        transition: 2.8s ease-in-out;
        -webkit-tap-highlight-color: transparent;
      }

      &:hover {
        .LandingPage__Header__LogoWrapper__Logo {
          transition: 1.6s ease-in;
          transform: translateY(-150px);
        }
      }
    }

    &__Languages {
      display: flex;
      color: white;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-size: 2rem;
      margin-bottom: 12px;

      &__Text {
        letter-spacing: 1px;
        cursor: pointer;
      }

      &__Divider {
        font-weight: 100;
        margin: -1px 9px 0 9px;
      }
    }
  }

  &__Arrow {
    position: absolute;
    bottom: 90px;
    z-index: 10;
    transition: 0.4s;

    &:hover {
      bottom: 80px;
    }
  }

  @media only screen and (max-width: 768px) {
    &__Main {
      &__Title {
        font-size: 4.2rem;
      }

      &__Buttons {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@keyframes make-black {
  50% {
    background-color: black;
  }
  60% {
    background-color: black;
  }
  100% {
    background-color: rgba($color: black, $alpha: 0.93);
  }
}

@keyframes reveal-background {
  from {
  }
  to {
    background-image: url("../../assets/images/services/mobile.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
